/**
 * Style Dashboard
 * Created by PhpStorm.
 * User: Cyril Goldenschue
 * Date: 29/09/2020
 */

$takeColor: #9b4dca;
$newColor: #c87d0d;
$dashbordColor: #26622b;



.icon {
    justify-content: right;
}

.tableManage{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tableManage > .column{
    width: auto;
    margin-bottom: 50px;
    margin-left: 50px;
}



header.dashbord {
    background-color: $dashbordColor;
    height: 3rem;
}


div.field, div.actions {
    margin-bottom: 10px;
    display: block;
}







