/**
 * Created by PhpStorm.
 * User: Mahieu Burnat & Cyril Goldenschue
 * Date: 01/09/2020
 */


$color: #9b4dca;

.row{
    h1{
        margin-top : 20px;
    }

    th{
        color : $color;
        text-align: center;
    }

    tr{
        text-align: left;
    }

    tr > .td-line
    {
        border-bottom: 1px solid #bbb;
            padding: 0.5rem 1.5rem;
    }
}

hr.solid {
    border-top: 3px solid #bbb;
}

main {
    display: block;
}

body {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 3000;
    letter-spacing: .01em;
    line-height: 1.6;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonNewFields{
    text-align: left;
    color: #9b4dca;
}

.button {
    display: block;
    padding-top: 10px;
}

.button > * {
    background-color: $color;
    BORDER: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    color: white;
    font-size: 15px;
}

#buttonTake{
    background-color: $color;
}

#buttonCreate{
    background-color: #c87d0d;
}

#buttonManage{
    background-color: #26622b;
}

.title{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.title > h1{
    font-size: 50px;
}

.title > h2{
    font-size: 35px;
}

.miniLogo{
    height: 50px;
    width: 50px;
}

header.heading{
    height: 5rem;
    color: white;
    display: block;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

header.home{
    background-color: blueviolet;
}

header.creating{
    background-color: #e0a458;
    height: 3rem;
}

.BannerTitle{
    margin: auto;
    margin-left: 2rem;
    color: white;
    font-size: 17px;
}

/* modifiable a partir de maintenant*/

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -.1rem;
    margin-bottom: 0rem;
    margin-top: 0;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-exercise {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}


form {
color: #9b4dca;
}


* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    min-width: 500px;
    padding: 10px;
}

/* Clear floats after the columns */
.row{
    display: flex;
    flex-wrap: wrap;

}

.row:after{
    content: "";
    display: table;
    clear: both;
}










.container.column{

}

main, section {
    display: block;
    width: 50%;
    position: absolute;
}

div.field, div.actions {
    margin-bottom: 10px;
    display: block;
}



main.container {
    margin-top: 5rem;
}










label, legend {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 1rem;
    padding: .6rem 1.0rem;
    width: 100%;
}

