/**
 * Created by PhpStorm.
 * User: Mahieu Burnat
 * Date: 01/09/2020
 */
body{
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}

.title > * {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.banner{
    background-color: #9b4dca;
    padding-bottom: 100px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.button {
    display: flex;
    display: block;
    text-align: center;
    padding-top: 10px;

}

.button > * {
    BACKGROUND: cornflowerblue;
    BORDER: none;
    BORDER-RADIUS: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 15px;
}
#buttonTake{

}

#buttonCreate{

}

#buttoManage{

}
